<?xml version="1.0" encoding="utf-8" ?>
<!--
Project Name: SarreSports | File Name: App.config
Author Name: Samuel Steven David Herring
Author URI: http://sherring.me
UserID: sh1042
Created On: 3/12/2018 | 21:01
Last Updated On:  20/12/2018 | 14:44
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>