<?xml version="1.0" encoding="utf-8"?>
<!--
Project Name: SarreSports | File Name: packages.config
Author Name: Samuel Steven David Herring
Author URI: http://sherring.me
UserID: sh1042
Created On: 12/12/2018 | 15:48
Last Updated On:  20/12/2018 | 14:44
-->
<packages>
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net472" />
</packages>